.banner{
	background-image: url(../images/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slider{
	margin:30px 0;
	background-image: url(../images/carousel.jpg); 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 70px;
}
.slider h1{
	margin-bottom: 30px;
      margin-top: 20px;
    font-size: 30px;
}
.slider p{
	font-size: 20px;
	margin-bottom: 30px;
}
.slider button{
	margin-top: 20px;
    margin-bottom: 70px;
    background-color: blue;
    color: white;

}
.custom_ind{
    bottom: 40px;
}
.custom_ind [data-bs-target]{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: black !important;
}